.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: #1aff00;
    padding: 10px;
    text-align: center;
    display: none;
}
.cookie-consent button {
    background: #f90;
    border: none;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}
#topbar {
    background-color: aqua;
    height: 2cm;
}

button {
    background-color: greenyellow;
    color: blue;
    height: 1.8cm;
}
button:hover {
    background-color: rgb(0, 255, 0);
    color: darkblue;
}


h1 {
    color: lime;
}

h2 {
    color: rgb(255, 255, 255);
}

h3 {
    color: yellow;
}

h4 {
    color: white;
}

div.info {
    background-image: url("minecraft.webp");
}
/* Active link style */
.active {
    background-color: rgb(0, 255, 55);
    color: white;
}

/* Styles for screens 600px and up */
@media (min-width: 600px) {
    #topbar {
        height: 1.5cm;
    }

    button {
        height: 1.3cm;
    }
}

/* Styles for screens 1024px and up */
@media (min-width: 1024px) {
    #topbar {
        height: 1.5cm;
    }

    button {
        height: 1.3cm;
    }
}
